@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 70%;
}

body{
  overflow: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  background: url(images/background_image.jpg);
  background-repeat: repeat;
  background-size: 100% 100%;
  overflow: hidden;
}

section[aria-label="nav-bar"] {
  height: 13rem;
}

.logo {
  margin-left: 5rem;
  padding-top: 6rem;
}

.navbar {
  display: flex;
  gap: 20rem;
}

.list {
  display: flex;
  padding-top: 4rem;
  padding-bottom: 3rem;
  list-style-type: none;
  gap: 8rem;
  z-index: 10;
  color: #fff;
  font-size: 19px;
  font-weight: 600;
  border-bottom: #fff solid 3px;
}

.list-items {
  cursor: pointer;
}

.logo h1 {
  font-size: 28px;
  color: #fff;
  letter-spacing: 1px;
}

.phone {
  display: flex;
  gap: 1.5rem;
}

.left-banner {
  margin-top: 9rem;
  margin-left: 10rem;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.left-banner .headline {
  color: #fff;
  font-size: 5rem;
  line-height: 8rem;
}

.learn-more {
  background-color: transparent;
  color: #fff;
  padding: 1.5rem 2.5rem 1.5rem 2.5rem;
  font-size: 25px;
  font-weight: 700;
  border: #fff solid 3px;
  border-radius: 3rem;
  cursor: pointer;
}

.right-banner {
  float: right;
}

.box_1 {
  position: relative;
  right: 45rem;
  bottom: 12rem;
  background-color: rgb(182 179 179 / 25%);
  padding: 3rem;
}

.light_bulb {
  position: relative;
  bottom: 2rem;
  background-color: #fff;
  padding: 3px 30px 3px 30px;
  border-radius: 2rem;
}

.text {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
}

.linebulb {
  background-color: #fff;
  width: 6.8rem;
  height: 1.3px;
  position: relative;
  left: 22rem;
  bottom: 6.5rem;
}

.circle-bulb {
  background-color: #fff;
  border-radius: 4rem;
  height: 15px;
  width: 15px;
  position: relative;
  left: 28.8rem;
  bottom: 7.2rem;
}

.box_2 {
  position: relative;
  bottom: 53rem;
  right: 10rem;
  background-color: rgb(182 179 179 / 25%);
  padding: 2.6rem;
}

.puzzle {
  position: relative;
  bottom: 2rem;
  background-color: #fff;
  padding: 3px 35px 3px 30px;
  border-radius: 2rem;
}

.vl {
  border-left: 2px solid rgb(255, 255, 255);
  height: 6.8rem;
  width: 1px;
  position: absolute;
  top: 137px;
  left: 130px;
}

.circle-puzzle {
  width: 15px;
  height: 15px;
  background: rgb(255, 255, 255);
  border-radius: 4rem;
  position: absolute;
  top: 199px;
  left: 124px;
}

nav .icon-burger{
  display: none;
  position: absolute;
  right: 5%;
  top: 5%;
}

.line{
  width: 30px;
  height: 5px;
  margin: 5px;
  border-radius: 3px;
  background-color: #fff;
}


@media only screen and (max-width: 500px){
  .logo h1{
    font-size: 19px;
    position: relative;
    right: 3rem;
    bottom: 4rem;
  }

  .list{
    visibility: hidden;
  }

  nav .icon-burger{
    display: block;
  }

  .left-banner{
    width: 100vw;
    position: relative;
    right: 10rem;
    bottom: 12rem;
    display: flex;
    gap: 4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  

  .left-banner .headline{
    font-size: 27px;
    line-height: 40px;
    text-align: center;
    width: 100vw;
    justify-content: center;
  }

  .right-banner{
    position: relative;
    top: 33rem;
  }

  .line_bulb{
    visibility: hidden;
  }

  .circle-bulb{
    visibility: hidden;
  }

  .vl{
    visibility: hidden;
  }

  .circle-puzzle{
    visibility: hidden;
  }

  .right-banner{
    height: 100vh;
  }

  .box_2{
    width: 90vw;
    position: relative;
    left: -1.5rem;
    text-align: center;
    padding-bottom: 1rem;
  }

  .button{
    position: relative;
    bottom: 2rem;
  }

  .learn-more{
    font-size: 17px;
  }

  .box_1{
    bottom: 27rem;
    left: -2rem;
    padding-bottom: 0rem;
    padding-top: 1rem;
    text-align: center;
    width: 90vw;
  }

  .light_bulb{
    position: relative;
    top: -1rem;
  }

}